<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parabéns</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <tr></tr>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <table style="width: 37.5rem; padding: 3rem; background-color: #fff">
      <tr>
        <td style="padding: 1rem">
          <h3>{{name}},</h3>
        </td>
      </tr>
      <tr>
        <td
          style="
            color: rgb(255, 179, 86);
            font-family: 'Great Vibes', cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5rem;
            padding: 2rem;
          "
        >
          <h1>Today is your birthday</h1>
        </td>
      </tr>
      <tr>
        <td>
          <img
            style="border-radius: 1rem; width: 37.5rem"
            src="https://github.com/andrebettencourtt/API-img/assets/115895526/046d6517-e774-48ba-ba07-1838f89aff79"
            alt=""
          />
        </td>
      </tr>
      <tr>
        <td
          style="
            color: rgb(255, 179, 86);
            font-family: 'Great Vibes', cursive;
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: end;
            padding: 2rem;
          "
        >
          <h1>We wish you happiness</h1>
        </td>
      </tr>
      <tr>
        <td>
          <img
            style="width: 37.5rem"
            src="https://github.com/andrebettencourtt/API-img/assets/115895526/c67f3d66-f1e4-4a44-a5e2-956fd9ca0230"
            alt=""
          />
        </td>
      </tr>
    </table>
  </body>
</html>
